<div id="mySidenav" class="sidenav">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="#">About</a>
  <a href="#">Services</a>
  <a href="#">Clients</a>
  <a href="#">Contact</a>
</div>

<!-- Use any element to open the sidenav -->
<span onclick="openNav()" class="button">open</span>

<!-- Add all page content inside this div if you want the side nav to push page content to the right (not used if you only want the sidenav to sit on top of the page -->
<div id="main">
<h2>Some Title</h2>
<p>Blizzard is giving World of Warcraft players a new way to beat each other senseless with the introduction of PvP Brawls. Coming in patch 7.2, WoW's brawls are "very much inspired by" brawls in other Blizzard games like Hearthstone and Overwatch, game director Ion Hazzikostas explained during the World of Warcraft: Legion panel at BlizzCon, and they promise to bring some very interesting changes to the game.

The goals of the system are to "add variation to casual Battleground gameplay," and also to provide Blizzard with a means to play around with new ideas. Not every Brawl mode will catch on, Hazzikostas said, but this "lets us experiment with some of those rule sets, some of those changes, and the most successful Brawls could very well find themselves as permanent fixtures in our PvP landscape."

Blizzard showed off a few of the Brawl types it has planned, each of which takes a familiar bit of World of Warcraft landscape and twists it in an unusual (or just straight-up silly) way. Winter Arathi Basin, for instance, is set in the Arathi Basin map but in the dead of winter, with visibility drastically cut by a blizzard, while Packed House is a 15v15 rumble in a standard-sized Arena. "It is balanced? I can promise it won't be," Hazzikostas said. "Is it crazy? Probably."</p>
</div>