<!DOCTYPE html>
	<head>
		<title>Experimental</title>
		<link rel="stylesheet" type="text/css" href="css/custom.css">
		<link rel="stylesheet" type="text/css" href="css/normalize.css">
		<link rel="stylesheet" type="text/css" href="css/skeleton.css">
	</head>
	<header class="header-2">
    <nav>
      <div class="container">
          <ul class="main-nav js--main-nav">
              <li><a href="#">Home</a></li>
              <li><a href="#programs" class="js--scroll-to-contact">About</a></li>
              <li><a href="#nutrition" class="js--scroll-to-main-nav">Articles</a></li>
              <li><a href="#coaches" class="js--scroll-to-fan-pics">Videos</a></li>
              <li><a href="#contact" class="js--scroll-to-book">Contact</a></li>
          </ul>
          <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon"></i></a>
      </div>
    </nav>
</html>