<div class="container">
	<div class="row">
		<div class="twelve columns workout-headers">
			<h2><%= @workout.bodypart %></h2>
			<p><%= @workout.date.strftime("%h %d") %></p>
		</div>
	</div>
	<div class="row">
		<div class="twelve columns">
			<%= render 'exercises/form' %>
		</div>
	</div>
</div>
<% @exercises.each do |f| %>
	<%= f.name %>
<% end %>