<head>
	<title>Experimental</title>
</head>
<div id="main">
<%= render 'shared/slide-nav' %>
	<h1 class="header-title js--main-title">
		A Title
	</h1>
	<span onclick="openNav()" class="button">open</span>
<body>

</body>
</div>