<div class="container">
	<div class="six columns">
	
		<ul class="user-list">
		<% @users.each do |user| %>
			<li><%= user.name %></li>
			<li><%= user.email %></li>
			<% end %>
		</ul>
		<p><%=link_to 'home', root_path %></p>
	</div>
</div>