<div class="container">
	<div class="row">
		<div class="six columns offset-by-three column">
			<h2 class="signup-title">Sign up</h2>
			<p><%= render 'users/form' %></p>
			<p>Already have a username? <%= link_to "Login", login_path %></p>
		</div>
	</div>
</div>