<div class="container">
	<div class="row">
		<div class="six columns offset-by-three column">
			<h2 class="signup-title">Create a new User</h2>
			<p><%= render 'users/form' %></p>
		</div>
	</div>
</div>