 <header class="header-1">
    <nav>
      <div class="container">
          <ul class="main-nav js--main-nav">
              <li><a href="#About" class="js--scroll-to-about">About</a></li>
              <li><a href="#articles" class="js--scroll-to-contact">Articles</a></li>
              <li><a href="#videos" class="js--scroll-to-main-nav">Videos</a></li>
              <li><a href="#contact" class="js--scroll-to-fan-pics">Contact</a></li>
              <li><a href="#blog" class="js--scroll-to-fan-pics">Blog</a></li>
          </ul>
          <a class="mobile-nav-icon js--nav-icon"><i class="ion-navicon"></i></a>
      </div>
    </nav>
    <div class="container">
    <center>
      <h1 class="header-title js--main-title">Gaming Isn't Dead</h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        <%=link_to "Join", signup_path, :class => "button main-button" %>
        <%=link_to "Login", login_path, :class => "button main-button" %>
    </div>
    </center>
    <div class="row">
      <div class="centering">
        <a href="#"><i class="fa fa-arrow-circle-o-down fa-4x header-arrow js--arrow"></i></a>
      </div>
    </div>
  </header>
