<section class="footer-section js--footer-section">
<footer class="index-footer">
    <div class="container">
      <div class="row bottom-footer">
        <center>
        <div class="social-links">
          <a href="#"><i class="ion-social-twitter-outline social-icons"></i></a>
          <a href="#"><i class="ion-social-facebook-outline social-icons"></i></a>
          <!-- <a href=""><i class="ion-social-instagram-outline social-icons"></i></a> -->
          <a href="#"><i class="ion-social-youtube-outline social-icons"></i></a>
        </div>
        </center>
      </div>
      <br>
      <div class="row">
        <div class="centering">
          <p class="footer-company-name">Backpropagate &copy; <%=Time.now.year %></p>
        </div>
      </div>
    </div>  
  </div>
</footer>
</section>