
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<h2>About</h2>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis</p>
				</div>
				<div class="col-md-4">
					<h2>Title</h2>
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec.</p>
				</div>
				<div class="col-md-4">
					<h2>Follow</h2>
				<div class="social-links">
					<ul>
	          <li><a href="#"><i class="ion-social-twitter-outline social-icons"></i></a></li>
	          <li><a href="#"><i class="ion-social-facebook-outline social-icons"></i></a></li>
	          <li><a href="#"><i class="ion-social-googleplus-outline social-icons"></i></a></li>
	          <!-- <a href=""><i class="ion-social-instagram-outline social-icons"></i></a> -->
	          <!-- <a href="#"><i class="ion-social-youtube-outline social-icons"></i></a> -->
        </ul>
        </div>
					</ul>
				</div>
			</div>
		</div>
