<button class="button main-button" id="trigger">Menu</button>
	<div id='slider' class="slide-nav">
	<div class="container">
		<div class="row">
		<h4 class="nav-title">Menu</h4>
			<ul>
				<li><a href="#">About</a></li>
				<li><a href="#">Articles</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Videos</a></li>
				<li><a href="#">Streaming</a></li>
				<% if logged_in? %>
				<li><%=link_to 'Logout', logout_path, method: "delete" %></li>
				<li><%=link_to 'Post new article', new_article_path %></li>
				<% end %>
			</ul>
		</div>	
	</div>
</div>

      
