img.article-show-image {
	background: 50% 0 fixed;
  height: 80%;  
  margin: 0 auto; 
  width: 100%;
  text-align: center;
  color: #fff;
  background-position: center;
  margin-bottom: 35px;
}

.article-title {
	color: #fff;
	font-family: 'Ubuntu Mono', monospace;
}

.next-previous {
  text-align: center;
}

.card-text {
  font-size: 15px;
}

.card-img {
  border-radius: 5px;
}

.list-article-show-image {
  background: 50% 0 fixed;
  height: 40%;  
  margin: 0 auto; 
  width: 100%;
  text-align: center;
  color: #fff;
  background-position: center;
  margin-bottom: 35px;
}

/* comments */

#comment_body {
  margin-bottom: 6px;
}


/* margin to separate section from header */

.article-show-container {
  margin-top: 20%;
  margin-bottom: 5%;
}

.tags a {
  color: #919191;
}

#tag_cloud {
  line-height: 1.6em;
  .s { font-size: 0.8em; }
  .m { font-size: 1em; }
  .l { font-size: 1.2em; }

  a {
    color: #ddd;
  }
  a:hover {
    color: white;
  }
}

.center-loading {
  text-align: center;
}
// pre {
//   background-color: black;
//   color: white;
//   border-color: black;
// }