img.article-show-image {
	background: 50% 0 fixed;
  height: 80%;  
  margin: 0 auto; 
  width: 100%;
  text-align: center;
  color: #fff;
  background-position: center;
  margin-bottom: 35px;
}

.article-title {
	color: #fff;
	font-family: 'Ubuntu Mono', monospace;
}

.next-previous {
  text-align: center;
}

.card-text {
  font-size: 15px;
}

.card-img {
  border-radius: 5px;
}