body {
	background-color: #EEE;
}

p {
	font-family: "Gotham SSm A", "Gotham SSm B", "sans-serif"
}

.article-title {
	font-size: 3.2rem;
	color: #000;
	font-size: 30px;
	font-weight: 700;
}

.article-title a {
	font-size: 3.2rem;
	color: #000;
	font-size: 30px;
	font-weight: 700;
}

.section_one {
	background-color: #fff;
	background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

/* header */

.header-title {
	text-align: center;
}

/* Nav */

.main-nav {
	list-style: none;
	float: right;
	margin-top: 50px;
  margin-bottom: 4.5rem;
  margin-left: 20px;
}

nav {
  background-color: black;
}

.main-nav li {
	display: inline-block;
	margin-left: 40px;
	font-family: "Gotham SSm A", "Gotham SSm B", "sans-serif";
}

.main-nav li a:link,
.main-nav li a:visited {
	color: #d00000;
	border-bottom: 2px solid #d00000;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 115%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

/* main content */

.section_1 {
  margin-top: 10%;
}

.section_1 h2 {
	text-transform: uppercase;
}

.section_1 a {
  text-decoration: none;
}
.date-copy {
	color: #999;
}


/* sidebar */

.sidebar_links li {
	list-style: none;
	text-decoration: none;
	font-family: "Gotham SSm A", "Gotham SSm B", "sans-serif";
	color: #FFF;
}

.sidebar_links li a {
	color: #000;
	font-weight: bold;
}

/* signup page */

.signup-title {
	text-align: center;
}

/* login page */

.login-title {
	text-align: center;
}

/* user index page */

.user-list {
	list-style: none;
}