/* BASECOLORS

Background gray = #eaeaea;
Basecolor(dark) = #27211d;
Basecolor(light) = #f39c12;
*/

/*.columns {
	border-right: .5px solid #999;
}*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html {
  height: 100%;
}

img {
  height: 200px;
}

body {
  height: 100%;
}

iframe {
  border: none;
}

/* CSS for test page */
.header-2 {
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), image-url('gtav.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), image-url('gtav.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  color: #fff;
  margin: 0;
}

.test-header {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), image-url('wanderer.png');
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), image-url('wanderer.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* slide nav */

#trigger {
  float: right;
  margin-top: 35px;
  margin-right: 35px;
}

.slide-nav li {
  list-style: none;
}

.slide-nav li a {
  text-decoration: none;
  font-family: sans-serif;
  list-style: none;
}

.nav-button {
  float: right;
}

.button.nav-button {
  color: #fff;
  margin: 2%;
}

#slider {
  background-color: #27211d;
}

/* header */

.header-1 {
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), image-url('weirdbrick.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), image-url('weirdbrick.jpg');
  background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
  color: #fff;
  margin: 0;
}

.button.main-button {
	color: #fff;
}


p {
	font-family: "Merriweather", "serif";
  font-size: 1.8rem;
  letter-spacing: 0.01rem;
  line-height: 1.75em;
  color: #3A4145;
}



section {
	padding: 80px 0;
}

.article-title {
	font-size: 3.2rem;
	color: #27211d;
	font-size: 30px;
	font-weight: 700;
}

.article-title a {
	font-size: 3.2rem;
	color: #27211d;
	font-size: 30px;
	font-weight: 700;
}

.section_one {
	background-color: #fff;
	background-size: cover;
  background-position: center;
  height: 100vh;
  background-attachment: fixed;
}

/* header */

.header-title {
	text-align: center;
	font-family: "sans-serif";
  font-weight: 700;
  font-size: 4em;
}

.page-description {
  font-size: 2rem;
  line-height: 1.5em;
  font-weight: 400;
  font-family: "Merriweather", serif;
  letter-spacing: 0.01rem;
}

.title-description {
  padding-top: 170px;
}


/* bounce effect for arrow */

.bounce {
  padding-top: 100px;
 bottom: 30px;
 left: 50% ;
 width: 60px;
 height: 60px ;
 margin-left:-30px;
 -webkit-border-radius:50%;
 -moz-border-radius:50%;
 -ms-border-radius:50%;
 border-radius:50%;
 animation: bounce 2s infinite;
 -webkit-animation: bounce 2s infinite;
 -moz-animation: bounce 2s infinite;
 -o-animation: bounce 2s infinite;
}
 
@-webkit-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-webkit-transform: translateY(0);} 
 40% {-webkit-transform: translateY(-30px);}
 60% {-webkit-transform: translateY(-15px);}
}
 
@-moz-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-moz-transform: translateY(0);}
 40% {-moz-transform: translateY(-30px);}
 60% {-moz-transform: translateY(-15px);}
}
 
@-o-keyframes bounce {
 0%, 20%, 50%, 80%, 100% {-o-transform: translateY(0);}
 40% {-o-transform: translateY(-30px);}
 60% {-o-transform: translateY(-15px);}
}
@keyframes bounce {
 0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
 40% {transform: translateY(-30px);}
 60% {transform: translateY(-15px);}
}

/* Nav */

.main-nav {
	list-style: none;
	float: right;
	margin-top: 50px;
  margin-bottom: 4.5rem;
  margin-left: 20px;
}

.main-nav li {
	display: inline-block;
	margin-left: 40px;
	font-family: "Merriweather", "serif";
}

.main-nav li a:link,
.main-nav li a:visited {
	color: #f39c12;
	border-bottom: 2px solid #f39c12;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 115%;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}


/* Sticky Nav */

/* commenting this out for slide nav
.sticky {
  position: fixed;
  height: 70px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #27211d; 
  box-shadow: 0 2px 2px #27211d;
  z-index: 9999;
  color: #fff;
}

.sticky .main-nav { margin-top: 25px; }

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 5px 0;
    color: #f39c12;
}
*/

/* Mobile navi */
.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobile-nav-icon i {
    font-size: 200%;
    color: #fff;
}

/* icons */

.fa fa-arrow-circle-o-down {
  margin-top: 500px;
  color: #d00000;
}

.header-arrow {
  margin-top: 490px;
}

/* class for centering small things like buttons */
.centering {
  text-align: center;
}

/* main content */

.read-more a {
	color: #999;
}

.section_1 {
  margin-top: 10%;
}

.section_1 h2 {
	text-transform: uppercase;
}

.section_1 a {
  text-decoration: none;
}
.date-copy {
	color: #999;
}

.article-image-index {
	width: 100%;
}

/* sidebar */

.sidebar_links li {
	list-style: none;
	text-decoration: none;
	font-family: "Gotham SSm A", "Gotham SSm B", "sans-serif";
	color: #FFF;
}

.sidebar_links li a {
color: #27211d;
	font-weight: bold;
}

/* signup page */

.signup-title {
	text-align: center;
}

.container.sign-in-container, .container.sign-up-container {
  margin-top: 40px;
}

/* login page */

.login-title {
	text-align: center;
}

/* user index page */

.user-list {
	list-style: none;
}

/* article-show */

img.article-show-image {
	background-image: -moz-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
	background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  color: #fff;
  margin: 0;
  width: 100%;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.video-container {
  background: #1b1d1e;
  margin-top: 60px;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.article-title {
  margin-top: 70px;
}

/* section two */

.section_2 {
	background-color: #fff;
}

.section-two-subtitle {
	color: #f39c12;
	font-weight: bold;
}

/* flash-message */

.flash-message {
  padding: 20px;
  background-color: #f39c12;
  color: #fff;
}

/* about page */

.container.about-container {
  margin-top: 40px;
}

/* google signin */

.social-button-google img {
  height: 50px;
  margin-top: 10px;
}

.social-button-facebook img {
  height: 46px;
  margin-top: 10px;
}

/* book list section */

.book-list {
  list-style: none;
}

.book-content {
  text-align: center;
}

/* workout show */

.workout-headers {
  text-align: center;
}

/* weights */


.weight-field {
  text-align: center;  
}

.weight-list {
  list-style: none;
}

