// Place all the styles related to the exercises controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.exercise-show-list {
	list-style: none;
}

li.exercise-show-list-item a{
	text-decoration: none;
	font-size: 30px;
}

.current-exercise-title {
	text-align: center;
}

.complete-exercise-list {
	list-style: none;
}