/* make sure images are around 1200ish X 1200ish for proper sizing, give or take */

/* old css for background(keep here for now)
/*#intro { 
  height: auto;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
    text-align: center;
    color: #fff;
    background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), image-url('creepylight.jpg');
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), image-url('creepylight.jpg');
}*/

/*#intro {
  height: 100%;  
  width: 100%;
  margin: auto;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), image-url('creepylight.jpg');
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), image-url('creepylight.jpg');
  display: table;
  top: 0;
  background-size: cover;
  background-position: center;
  text-align: center;
  color: #fff
}*/

#intro {
 background: image_url('creepylight.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  color: #fff;
  height: 100%;
}

/*body {
  background: url('http://placehold.it/1920x1080') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}*/
/*#about { 
    background: image_url('weirdbrick.jpg') 50% 0 fixed; 
    height: auto;  
    margin: 0 auto; 
    width: 100%;
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 100px 0
}*/
#article { 
  background: 50% 0 fixed;
  background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), image-url('blackandwhitecoding.jpg');
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), image-url('blackandwhitecoding.jpg');
  height: auto;
  margin: 0 auto; 
  width: 100%;
  box-shadow: 0 0 50px rgba(0,0,0,0.8);
}

