<div class="container">
<% @workout.exercises.each do |exercise| %>
	<div class="row">
		<ul class="exercise-index-list js--exercise-index-list">
			<li><%= exercise.name %></li>
		</ul>
	</div>
	<% end %>
</div>
